{% extends "base.html" %}

{% block title %}
Order Details
{% endblock %}

{% block content %}

<h2 class="fw-bold mb-4">

    Order #{{ order.id }}

</h2>

<div class="card shadow">

    <div class="card-body">

        <div class="row mb-4">

            <div class="col-md-6">

                <p>

                    <strong>Status:</strong>

                    {{ order.get_status_display }}

                </p>

                <p>

                    <strong>Payment:</strong>

                    {{ order.get_payment_method_display }}

                </p>

            </div>

            <div class="col-md-6">

                <p>

                    <strong>Order Date:</strong>

                    {{ order.created_at|date:"d M Y, h:i A" }}

                </p>

            </div>

        </div>

        <h5>

            Shipping Address

        </h5>

        <div class="border rounded p-3 mb-4">

            {{ order.shipping_address|linebreaks }}

        </div>

        <table class="table table-bordered align-middle">

            <thead class="table-light">

                <tr>

                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>

                </tr>

            </thead>

            <tbody>

            {% for item in order.items.all %}

                <tr>

                    <td>

                        {{ item.product.name }}

                    </td>

                    <td>

                        ₹{{ item.price }}

                    </td>

                    <td>

                        {{ item.quantity }}

                    </td>

                    <td>

                        ₹{{ item.subtotal }}

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

        <div class="text-end mt-4">

            <h3 class="text-success">

                Grand Total : ₹{{ order.total_price }}

            </h3>

        </div>

    </div>

</div>

<div class="mt-4">

    <a
        href="{% url 'order-history-page' %}"
        class="btn btn-secondary"
    >
        ← Back to Orders
    </a>

</div>

{% endblock %}